.header{
  padding: 16px 0 16px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
    color: #000000;
    font-size: 20px;
    font-weight: 700;

    transition: color 0.3s
}

.header__list {
  display: flex;
  gap: 24px;
}


.header__logo:hover{
    color: #62ae62;
}

.header__link {
  color: #000000;
  position: relative;
  text-decoration: none;
  transition: color 0.3s;
}

.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #62ae62;
  left: 0;
  bottom: 0;

  opacity: 0;
  transition: all 0.3s;
}

.header__link:hover {
  color: #62ae62;
}

.header__link:hover::after {
  opacity: 1;
  transform: translateY(3px);
}

.header__auth-buttons{
    display: flex;
    gap: 12px;
}

.auth-buttons__button{
    padding: 6px 0 6px 0;
    width: 72px;
    transition: all 0.3s;
}

.auth-buttons__button--login{
color: #000000;
background-color: #ffffff;
border: 1px solid #000000;
}

.auth-buttons__button--signup{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
}

.auth-buttons__button:hover{
background-color: #62ae62;
border-color: #62ae62;
color: #ffffff;
}

