.check-ins{
  padding: 0 0 32px 0;
}

.check-ins__title {
  margin-bottom: 12px;
}

:host(.check-ins-bookings-filter) {
  margin-bottom: 24px;
}

.check-ins__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


