.header__auth-buttons {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .header__auth-buttons {
    gap: 12px;
  }
}

.auth-buttons__button {
  padding: 6px 0px 6px 0px;
  width: 62px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .auth-buttons__button {
    padding: 8px 0px 8px 0px;
    width: 68px;
  }
}

@media (min-width: 1158px) {
  .auth-buttons__button {
  font-size: 18px;
    width: 76px;
  }
}


.auth-buttons__button--login,
.auth-buttons__button--logout {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.auth-buttons__button--signup {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}

.auth-buttons__button:hover {
  background-color: #62ae62;
  border-color: #62ae62;
  color: #ffffff;
}

.auth-bittons__loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
