@media(max-width: 767.9px){
::ng-deep.mdc-dialog--open .mat-mdc-dialog-surface{
    width: 80% ;
  }
}

@media(max-width: 767.9px){
  ::ng-deep mat-label{
    font-size: 13px;
  }
}

@media(max-width: 364.9px){
  ::ng-deep .mat-mdc-form-field-infix{
    font-size: 11px !important;
  }
}

@media(min-width: 365px) and (max-width: 767.9px){
  ::ng-deep .mat-mdc-form-field-infix{
    font-size: 13px !important;
  }
}

@media(max-height: 799.9px){
  ::ng-deep.mdc-dialog--open .mat-mdc-dialog-surface{
    max-height: 468px;
}
}

 
.book-modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
  padding: 4px;
  transition: all 0.3s ease-in-out;
}

.book-modal__title {
  margin-bottom: 12px;
}

@media(max-width: 359.9px){
  .book-modal__title {
   font-size: 24px;
  }
}

.book-modal__form {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.book-modal__name-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media(min-width: 768px) {
  .book-modal__name-wrapper {
    flex-direction: row;
  }

}

.book-modal__other-wrapper {
  display: block;
 
}

@media(min-width: 768px) {
  .book-modal__other-wrapper {
    display: flex;
    gap: 12px;
  }

}

.book-modal__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


@media(max-width: 767.9px) {
  .book-modal__info-wrapper  {
    margin-bottom: 12px;
  }
}

.book-modal__field {
  display: block;
}


.book-modal__discount-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.book-modal__dicounts {
  display: flex;
  flex-direction: column;
}

.book-modal__discount-text:not(:last-of-type) {
  margin-bottom: 3px;
}

.book-modal__check-btn {
  padding: 6px 0 6px 0;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px){
  .book-modal__check-btn {
    width: 88px;
}
}

.book-modal__check-btn:hover {
  background-color: #62ae62;
  border-color: #62ae62;
  color: #ffffff;
}

.book-modal__comment {
  resize: none;
}

.book-modal__submit-btn {
  align-self: self-end;
  padding: 6px 0 6px 0;
  width: 72px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}

.book-modal__close-btn:hover {
  transform: scale(1.1);
}

.book-modal__submit-btn:hover {
  background-color: #62ae62;
  border-color: #62ae62;
  color: #ffffff;
}