<div>
  <h1 class="book-modal__title">Book Room</h1>
  <form #bookForm="ngForm" (ngSubmit)="submitForm(bookForm)" class="book-modal__form">

    <div class="book-modal__name-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required name="firstName" ngModel />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Middle Name</mat-label>
        <input matInput type="text" name="middleName" ngModel />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required name="lastName" ngModel />
      </mat-form-field>
    </div>
    <div class="book_modal__other-wrapper">
      <div class="book_modal__info-wrapper">

        <form #discountForm="ngForm" (ngSubmit)="onCheckVisits(discountForm)" class="book-modal__discont-form">
          <mat-form-field appearance="outline" class="book-modal__field book-modal__comment">
            <mat-label>Passport Number</mat-label>
            <input matInput type="text" required name="passportNumber" ngModel />
          </mat-form-field>
          <button type="submit" class="book-modal__check-btn">Check discount</button>
        </form>
        <mat-form-field class="book-modal__field  book-modal__dates" appearance="outline">
          <mat-label>Enter dates*</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input required matStartDate placeholder="Check-in date" ngModel name="startDate" id="startDate" (dateChange)="calculateTotalDiscountAndPrice()">
            <input required matEndDate placeholder="Check-out date" ngModel name="endDate" id="endDate" (dateChange)="calculateTotalDiscountAndPrice()">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="book-modal__field  book-modal__comment">
          <mat-label>Comment</mat-label>
          <textarea matInput type="text" name="comment" ngModel class="book-modal__comment"></textarea>
        </mat-form-field>
      </div>
      <div class="book-modal__discount-wrapper">

        @if(visitsAmount === 0){
        <p> This person has never visited our hotel</p>

        }
        @if(visitsAmount > 0) {
        <p> The amount of visits: {{ visitsAmount }}</p>
        }
        @if(visitsAmount >= 0){
        <div class="book-modal__dicounts">
          <mat-checkbox [disabled]="visitsAmount < 4"
            (change)="onDiscountChange('regularCustomer', $event.checked)">
            Regular Customer - 15%
          </mat-checkbox>
          <mat-checkbox (change)="onDiscountChange('military', $event.checked)">
            Military - 30%
          </mat-checkbox>
          <mat-checkbox (change)="onDiscountChange('guardian', $event.checked)">
            Guardian of three and more children - 10%
          </mat-checkbox>

        </div>
        <p>Total Discount: {{ totalDiscount }}%</p>
        <p>Total price for the room per day: ${{ totalDayPrice }}</p>
        @if(totalPrice){
          <p>Total price for chosen time period: ${{totalPrice}}</p>
        }

        }

      </div>
    </div>

    <button type="submit" class="book-modal__submit-btn">Book</button>
  </form>
  <button mat-dialog-close aria-label="Close" class="book-modal__close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>
