.check-in-card {
  border: 1px solid #000000;
  border-radius: 24px;
  padding: 12px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 396px) {
  .check-in-card {
    width: 340px;
    font-size: 16px;
  }
}

.check-in-details__list {
  margin-right: 6px;
}

.check-in-details__info-bold {
  font-weight: 500;
}
