<header class="header">
  <div class="header__container container">

    <div class="header__brand">
      <a class="header__logo" routerLink="/">Serenity Hotel</a>
    </div>

    @if(isAuthenticated){
    <app-nav-menu />
    }


    <app-auth-buttons />

    @if(isAuthenticated){
    <button class="header__menu-btn" (click)="openMobileMenu()">
      <mat-icon aria-hidden="false" aria-label="Burger menu icon" fontIcon="menu"></mat-icon>
    </button>
    }

  </div>

  @if(isAuthenticated){
  <app-mobile-nav-menu [isMobileMenuOpen]="isMobileMenuOpen" (closeMenu)="closeMobileMenu()" />
  }

</header>
