<li class="room-card">
  <img src="defaultroom.jpg" alt="Room Image" class="room-image" lazy-loading>

  <div class="room-card__bottom">
    <ul class="room-card__details">
      <li class="room-details__info room-details__info-bold">Room {{ room.room_number }}</li>
      <li class="room-details__info"><span class="room-details__info-bold">Capacity:</span> {{ room.capacity }}</li>
      <li class="room-details__info"><span class="room-details__info-bold">Comfort:</span> {{ room.comfort_level }}</li>
      <li class="room-details__info"><span class="room-details__info-bold">Price:</span> ${{ room.price }}</li>

    </ul>
    <app-room-buttons [roomId]="room._id" [roomPrice]="room.price"  />
  </div>
</li>