<nav class="header__nav">
  <ul class="header__list">
    <li class="header__item">
      <a class="header__link" routerLink="/" routerLinkActive="header__link--active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="header__item">
      <a class="header__link" routerLink="/rooms" routerLinkActive="header__link--active">Available Rooms</a>
    </li>
    <li class="header__item">
      <a class="header__link" routerLink="/check-ins-bookings" routerLinkActive="header__link--active">Check-ins & Bookings</a>
    </li>
    <li class="header__item">
      <a class="header__link" routerLink="/clients" routerLinkActive="header__link--active">Clients</a>
    </li>
  </ul>
</nav>
