.clients__filter-container{
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

@media(min-width:576px){
  .clients__filter-container{
    flex-direction: row;
    align-items: stretch;
    gap: 24px
  }
}


.clients__filter-field ::ng-deep.mat-mdc-text-field-wrapper {
  display: block;
}

@media(max-width:319.9px){
  .clients__filter-field ::ng-deep.mat-mdc-text-field-wrapper {
    width: 224px;
  }
}

@media(min-width:320px){
  .clients__filter-field ::ng-deep.mat-mdc-text-field-wrapper {
    width: 286px;
  }
}

@media(min-width:468px){
  .clients__filter-field ::ng-deep.mat-mdc-text-field-wrapper {
    width: 296px;
  }
}

.clients__filter::placeholder {
  font-size: 14px;
}


@media(min-width:468px){
  .clients__filter::placeholder {
    font-size: 16px;
  }

}



.clients__buttons-wrapper{
  display: flex;
  gap: 12px;

}

.clients__button{
  padding: 6px 6px 6px 6px;
  transition: all 0.3s ease-in-out;
}

.clients__filter-button{
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.clients__show-button {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}
