.client-card {
  border: 1px solid #000000;
  font-size: 14px;
  padding: 12px;
  width: 236px;
}

@media(min-width: 348px){
  .client-card {
    width: 296px;
    font-size: 16px;
  }
}


.client-details__info-bold{
  font-weight: 500;
}
