<h1>Sign Up</h1>
<div mat-dialog-content>
  <form #signUpForm="ngForm" (ngSubmit)="submitForm(signUpForm)" class="sign-up-modal__form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" ngModel required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" ngModel required
        pattern="[^@\s]+@[^@\s]+\.[^@\s]+" #email="ngModel">
      <div *ngIf="email.invalid">
        <div *ngIf="email.hasError('pattern')">Invalid email format.</div>
      </div>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input matInput type="password" name="password" ngModel minlength="6" required #password="ngModel">
      <div *ngIf="password.invalid" class="no">
        <div *ngIf="password.hasError('minlength')">
          Password must be at least 6 characters long.
        </div>
      </div>
    </mat-form-field>

    <button type="submit" class="sign-up-modal__submit-btn">Sign Up</button>
  </form>
  <button mat-dialog-close aria-label="Close" class="sign-up-modal__close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>