.home__image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
}

.home__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.home__title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  margin: 0;
  z-index: 1;
  width: 100%;
  background-color: #62ae62;
  padding: 10px 20px;
  border-radius: 8px;
}

@media (max-width: 424.5px) {
  .home__title {
    font-size: 18px;
  }
}

@media (min-width: 425px) {
  .home__title {
    font-size: 20px;
  }
}

@media (min-width: 548px) {
  .home__title {
    font-size: 22px;
  }
}

@media (min-width: 648px) {
  .home__title {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .home__title {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .home__title {
    font-size: 48px;
  }
}

.home__text {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  z-index: 10;
}

@media (max-width: 319.9px) {
  .home__text {
    font-size: 16px;
  }
}

@media (max-width: 457.9px) {
  .home__text {
    font-size: 16px;
  }
}

@media (max-width: 319.9px) {
  .home__first-text {
    margin-bottom: 3px;
  }
}
