/* You can add global styles to this file, and also import other style files */
@import "normalize.css/normalize.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/700.css";

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 428px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* Desktop screen */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Styles for modals */
.mat-mdc-dialog-surface.mdc-dialog__surface {
  border-radius: 0;
  border: 1px solid #111111;
  padding: 24px;
}
.cdk-overlay-container .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 100%;
}

.mat-mdc-form-field-flex .mat-mdc-form-field-icon-suffix,
[dir="rtl"] .mat-mdc-form-field-icon-prefix {
  padding: 4px;
}

.mat-form-field-appearance-outline.mat-mdc-form-field{
  display: inline;
}

/* .mat-mdc-text-field-wrapper.mdc-text-field{
  border-radius: 0px;
} */


.mdc-text-field--outlined .mdc-notched-outline__leading {
  border-radius: 0px !important;
}

.mdc-text-field--outlined .mdc-notched-outline__trailing{
  border-radius: 0px !important;
}

/* Styles for loader */
.mat-mdc-progress-spinner
  .mdc-circular-progress__indeterminate-circle-graphic
  circle {
  stroke: #111111;
}
