.rooms {
  padding: 0 0 32px 0;
}

.rooms__title {
  margin-bottom: 12px;
}

.rooms__date-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.rooms__filter-button {
  padding: 6px 0 6px 0;
  width: 72px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: all 0.3s ease-in-out;
}

.rooms__filter-button:hover {
  background-color: #62ae62;
  border-color: #62ae62;
  color: #ffffff;
}

.rooms__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.room-card {
  border: 1px solid #000000;
}

.room-image {
  width: 160px;
  height: 120px;
  object-position: center;
  object-fit: cover;
}

.room-card__bottom {
  padding: 12px;
}

.room-card__details {
  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 2px;

  margin-bottom: 8px;
}

.room-details__info-bold {
  font-weight: 500;
}

.room-card__button {
  padding: 6px 0 6px 0;
  width: 86%;
  transition: all 0.3s;
  font-size: 14px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  display: block;
  margin: 0 auto;
}

.room-card__button:hover {
  background-color: #62ae62;
  border-color: #62ae62;
  color: #ffffff;
}

.rooms__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
